/*import font.css file*/

@import url('./font.css');
@import url('./partials/variable.css');

body {
    /* overflow-x: hidden; */
}
h6 {
    color: #7a8b94;
}
.blue-txt {
    color: #2d81f7;
}
.green-txt {
    color: #51be80;
}
.yellow-txt {
    color: #fbad3a;
}
.red-txt {
    color: #eb5757;
}
/* Header css */

.header_area { 
    position: fixed;
    left: 1px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 11;
    background: #f7faff;
}
.main-menu {
    position: relative;
    width: 100%;
}
.header_area .main-menu .navbar .navbar-brand {
    padding: 0.2rem 0.5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 5rem;
}
.header_area .main-menu .nav-item .nav-link {
    padding: 0.2rem 0.5rem;
}

.main-inner img {
    width: 100%;
    height: 100%;
}
section.top-courses-cards {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.cards-with-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}
.h1_wrapper {
    position: relative;
    margin: 120px 0;
    width: 48%;
}
.img-wrapper-card {
    position: absolute;
    right: 0;
    bottom: 0;
}
.subjects-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.subjects-wrapper h5 {
    margin-right: 10px;
    color: rgb(81 190 128);
}
.top-courses-cards .card {
    padding: 33px;
    border-radius: 12px;
    /* box-shadow: rgba(221, 230, 237, 0.4) 0px 16px 32px; */
    background-color: rgb(255, 255, 255);
    border: 0;
}

.btn-start-learning {
    position: relative;
    border: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    /* width: 176px; */
    height: 48px;
    min-height: 48px;
    color: #ffff;
    -webkit-user-drag: none;
    user-select: none;
    background-color: rgb(78 195 160);
    transition: box-shadow 300ms ease-in-out 0s, transform 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
}
.btn-wrapper {
    margin: 20px 0;
}

.card-body.section-2-card-warp .card-title {
    padding: 16px 0;
}

.section-3 .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-3-img-wrap img {
    width: 432px;
}
.card-title-section3 {
    margin: 50px 0;
    width: 71%;
    font-size: 18px;
    font-weight: 400;
}
.top-courses-cards.container.section-3 {
    margin-top: 15px;
}

.section-3 h2 {
    width: 50%;
}

.section-4 {
    margin-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-4-left h2 {
    width: 65%;
}
.img-wrapper-card-section4 img {
    width: 245px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.box-shadow-card {
    box-shadow: rgba(221, 230, 237, 0.4) 0px 16px 32px;
    border: 0px !important;
    margin: 0 0 22px 0;
}
.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card-title-section4 {
    margin: 20px 0;
    width: 71%;
    font-size: 18px;
    font-weight: 400;
}


/* Footer App */

.footer-inner-wrap {
    display: flex;
    justify-content: center;
}
.widh25 {
    width: 25%;
}
.social-icons {
    margin-top: 40px;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
}
.social-icons li {
    display: inline-block;
}
.footer-1-section .para-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    margin: 0px;
    color: #3c4852;
}
.widh25 li {
    margin-bottom: 8px;
    list-style: none;
}
.widh25 li a {
    color: #3c4852;
    line-height: 150%;
    font-size: 12px;
    font-weight: normal;
    transition: color 200ms ease-in-out 0s;
}
.mr20 {
    margin-right: 20px;
}
.footer-main.container {
    margin-top: 50px;
}


/* About */

.about-main-section-wrap {
    margin-top: 140px;
}
.about-heading-wrap {
    margin-bottom: 80px;
}
.about-card-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.card-about-wrap {
    display: flex;
    width: 50% !important;
    flex-wrap: wrap;
}
.card-about-wrap .card {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.card-about-txt-wrap{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.card-about-txt-wrap h2{
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
}
.about-heading-wrap h2 {
    width: 40%;
}
.card-about-txt-wrap h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #7a8b94;
    display: block;
    margin-top: 4px;
}
.section-4-right-wrap {
    display: flex;
}
.section-3-img-wrap {
    left: 25px;
    position: relative;
}
.main-section-card {
    width: 34rem;
}
.section-3-img-wrap {
    margin-right: 11px;
}
@media only screen and (max-width: 600px) {
    .top-courses-cards{
        display: flex;
        flex-direction: column !important;
    }
    .main-section {
        padding: 0 !important;
    }
    .section-3 .card-body {
        display: flex;
        flex-direction: column;
    }
    .section-4 {
        margin-top: 51px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 51px;
    }
    .section-4-right-wrap {
        flex-direction: column;
        display: flex;
    }
  
    .section-3-img-wrap img {
        width: 80%;
    }
    .cards-with-heading {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }
    .subjects-wrapper {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: flex-start;
    }
    .widh25 {
        width: 70%;
        margin-bottom: 22px;
    }
    .footer-inner-wrap {
        display: flex;
        flex-direction: column;
        padding: 0px 18px;
    }
    .btn-wrapper {
        margin: 20px 0;
        width: 59%;
    }
    .section-3-img-wrap {
        left: 0px;
        position: relative;
    }
    .header_area .main-menu .navbar {
        padding: 10px;
    }
    .main-section-card {
        width: 25rem;
    }
    .top-courses-cards.container.section-3 {
        margin-top: 15px;
        /* width: 416px; */
    }
    section.top-courses-cards {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .h1_wrapper {
        position: relative;
        margin: 0;
        width: auto;
        padding: 10px;
    }
    .top-courses-cards .card {
        padding: 33px 0px;
        border-radius: 12px;
        /* box-shadow: rgba(221, 230, 237, 0.4) 0px 16px 32px; */
        background-color: rgb(255, 255, 255);
        border: 0;
        width: auto;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 0;
    }
    .img-wrapper-card .card-img-top {
        width: 150px !important;
    }
    .section-inner-wrap {
        padding: 1px 32px;
    }
    .section-4-left h2 {
        width: 100%;
    }
    .card-title-section4 {
        margin: 20px 0;
        width: 100%;
        font-size: 18px;
        font-weight: 400;
    }
    .section-3 h2 {
        width: 100%;
    }
    .card-title-section3 {
        margin: 50px 0;
        width: 100%;
        font-size: 18px;
        font-weight: 400;
    }
    .section-3 .box-shadow-card {
        padding: 0;
    }
    ul {
        padding: 0 !important;
    }
    
  }
